body{
    font-family: 'Dark Seventh - Personal Use', sans-serif;
    font-size: 30px;
    margin:0px;
    padding:0px;
    list-style: none;
    text-decoration: none;}

.container{
    height:100vh;
    display: grid;
    grid-template-columns: 70px repeat(3,1fr);
    grid-template-rows: 1fr 2fr 8fr 2fr;
    grid-template-areas: 
    "logo    nav     nav     nav"
    "bandeau bandeau bandeau bandeau"
    "content content content content"
    "foot    foot   foot   foot";
}
.logo{
    grid-area: logo;
    display:flex;
    align-items: center;
    justify-content: center;
    width:70px;
    height:70px;
    background:url(../image/logo.svg) no-repeat;
    background-color: #e3dbc6;

}
.logo:hover{
    background: url(../image/logohover.svg) no-repeat;
    color: #e3dbc6;
}
.bandeau{
    display:flex;
    align-items: center;
    justify-content: center;
    /*width:100%;
     background:url(../image/bandeau.svg) no-repeat;*/
}
.navigation{
    grid-area: nav;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #e3dbc6;
    background-color:#567071 ;
}
.navigation:hover{
    text-shadow: #0a0700 ;
    background:#567071;
    color :#80122f;
    text-decoration: none;
}
.content{
    grid-area: content;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #e3dbc6;
    background-color:#567071 ;
}
.feature{
    grid-area: fea;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #e3dbc6;
    background-color:#567071 ;
}

footer{
    grid-area: foot;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #e3dbc6;
    background-color:#567071 ;

}
@media screen and (max-width:700px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr,0.5fr 6fr 0.5fr;
        grid-template-areas: "logo"
        "nav"
        "content"
        "footer";
    }
}